<a href="https://colab.research.google.com/github/Renanvj/CP-2-IA/blob/main/CheckPoint_IA_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dataset

Importando o pandas e carregando o dataset

In [1]:
import pandas as pd
df = pd.read_csv('/content/sample_data/solicitacoescredito.csv')
df.head()

,numero_solicitacao,razaoSocial,nomeFantasia,cnpjSemTraco,maiorAtraso,margemBrutaAcumulada,percentualProtestos,primeiraCompra,prazoMedioRecebimentoVendas,titulosEmAberto,...,periodoDemonstrativoEmMeses,custos,anoFundacao,intervaloFundacao,capitalSocial,restricoes,empresa_MeEppMei,scorePontualidade,limiteEmpresaAnaliseCredito,dataAprovadoNivelAnalista
0,1,James Richardson-Patel,Alexandra Williams,KEBE17609492220843,0,0.252448,0.0,2015-12-10T00:00:00,0,0.00,...,12.0,0.0,2003.0,Acima de 17 anos,90000.0,False,True,1.0,43200.0,2020-02-03T20:57:33
1,2,Dr. Geoffrey Walsh,Mr. Darren Arnold,JRBK88908250677300,0,0.000000,NaN,2019-06-12T17:28:31,0,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
2,3,Joanna Hudson,Dr. David Rees,GCVQ28531614261293,4,0.624777,0.0,2019-11-27T00:00:00,0,0.00,...,7.0,0.0,2014.0,De 6 a 10 anos,20000.0,False,True,1.0,4320.0,2020-02-04T16:40:49
3,4,Gordon Jones-Hopkins,Sara Reid-Robson,KJND32266018316396,20,0.000000,NaN,2017-02-13T17:20:27,0,0.00,...,12.0,0.0,2013.0,De 6 a 10 anos,30000.0,False,True,0.0,5920.0,2020-02-04T16:37:52
4,5,Nigel Lee,Dr. Stanley Duncan,CGQN15826802440348,20,0.454088,0.0,2010-07-13T00:00:00,20,1486.95,...,9.0,40680051.0,2002.0,Acima de 17 anos,75000.0,False,False,1.0,89000.0,2020-02-04T15:06:28

In [2]:
# Vendo o tipo de dados
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8973 entries, 0 to 8972
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   numero_solicitacao           8973 non-null   int64
 1   razaoSocial                  8973 non-null   object
 2   nomeFantasia                 8973 non-null   object
 3   cnpjSemTraco                 8973 non-null   object
 4   maiorAtraso                  8973 non-null   int64
 5   margemBrutaAcumulada         8973 non-null   float64
 6   percentualProtestos          7475 non-null   float64
 7   primeiraCompra               8867 non-null   object
 8   prazoMedioRecebimentoVendas  8973 non-null   int64
 9   titulosEmAberto              8973 non-null   float64
 10  valorSolicitado              8973 non-null   float64
 11  status                       8973 non-null   object
 12  definicaoRisco               8973 non-null   object
 13  diferencaPercentualRisco     8973 non-null   float64
 14  percentualRisco              8973 non-null   float64
 15  dashboardCorrelacao          8973 non-null   float64
 16  valorAprovado                7569 non-null   float64
 17  dataAprovadoEmComite         558 non-null    object
 18  periodoBalanco               4733 non-null   object
 19  ativoCirculante              4733 non-null   float64
 20  passivoCirculante            4733 non-null   float64
 21  totalAtivo                   4733 non-null   float64
 22  totalPatrimonioLiquido       4733 non-null   float64
 23  endividamento                4733 non-null   float64
 24  duplicatasAReceber           4733 non-null   float64
 25  estoque                      4733 non-null   float64
 26  faturamentoBruto             8223 non-null   float64
 27  margemBruta                  8223 non-null   float64
 28  periodoDemonstrativoEmMeses  8223 non-null   float64
 29  custos                       8223 non-null   float64
 30  anoFundacao                  8228 non-null   float64
 31  intervaloFundacao            8228 non-null   object
 32  capitalSocial                8228 non-null   float64
 33  restricoes                   8228 non-null   object
 34  empresa_MeEppMei             8228 non-null   object
 35  scorePontualidade            8973 non-null   float64
 36  limiteEmpresaAnaliseCredito  8228 non-null   float64
 37  dataAprovadoNivelAnalista    7011 non-null   object
dtypes: float64(23), int64(3), object(12)
memory usage: 2.6+ MB

In [3]:
# Quantos dados únicos
df.nunique()

numero_solicitacao             8973
razaoSocial                    2759
nomeFantasia                   2677
cnpjSemTraco                   2829
maiorAtraso                     175
margemBrutaAcumulada           2145
percentualProtestos              10
primeiraCompra                 1950
prazoMedioRecebimentoVendas     180
titulosEmAberto                 761
valorSolicitado                 363
status                            7
definicaoRisco                    4
diferencaPercentualRisco         79
percentualRisco                  81
dashboardCorrelacao             701
valorAprovado                   326
dataAprovadoEmComite            558
periodoBalanco                  124
ativoCirculante                1794
passivoCirculante              1789
totalAtivo                     1788
totalPatrimonioLiquido         1759
endividamento                  1185
duplicatasAReceber             1668
estoque                        1674
faturamentoBruto               4288
margemBruta                    1929
periodoDemonstrativoEmMeses      12
custos                         1743
anoFundacao                      69
intervaloFundacao                 4
capitalSocial                   403
restricoes                        2
empresa_MeEppMei                  2
scorePontualidade               385
limiteEmpresaAnaliseCredito    1810
dataAprovadoNivelAnalista      7011
dtype: int64

In [4]:
# Selecionando colunas relevantes para análise
cols_analise = ['faturamentoBruto', 'endividamento', 'totalPatrimonioLiquido', 'maiorAtraso']

# Filtrando o DataFrame para incluir apenas as linhas com dados válidos nas colunas selecionadas
df_analise = df[cols_analise].dropna()

# Realizando uma análise descritiva das variáveis selecionadas
analise_descritiva = df_analise.describe()

# Calculando correlações entre as variáveis selecionadas
correlacoes = df_analise.corr()

In [5]:
#Exibindo a análise desscritiva

analise_descritiva, correlacoes

(       faturamentoBruto  endividamento  totalPatrimonioLiquido  maiorAtraso
 count      4.731000e+03   4.731000e+03            4.731000e+03  4731.000000
 mean       8.930243e+07   4.689831e+06            2.832370e+07    27.382583
 std        4.351357e+08   3.774502e+07            2.577293e+08    66.623170
 min        0.000000e+00   0.000000e+00           -1.867197e+08     0.000000
 25%        2.222863e+06   0.000000e+00            2.329495e+05     3.000000
 50%        7.969110e+06   0.000000e+00            1.569857e+06     8.000000
 75%        3.075236e+07   7.416500e+05            8.036921e+06    25.000000
 max        6.426115e+09   7.406315e+08            1.292328e+10   977.000000,
                         faturamentoBruto  endividamento  \
 faturamentoBruto                1.000000       0.714329
 endividamento                   0.714329       1.000000
 totalPatrimonioLiquido          0.423417       0.217965
 maiorAtraso                    -0.007929       0.011229

                         totalPatrimonioLiquido  maiorAtraso
 faturamentoBruto                      0.423417    -0.007929
 endividamento                         0.217965     0.011229
 totalPatrimonioLiquido                1.000000    -0.008922
 maiorAtraso                          -0.008922     1.000000  )

# Explicando os grupos

**Grupo Diamante:** Alto faturamento, baixo endividamento, alto total de patrimônio líquido e baixo maior atraso.

**Grupo Ouro:** Valores intermediários.

**Grupo Prata:** Baixo faturamento, alto endividamento, baixo total de patrimônio líquido e alto maior atraso.

Vamos definir em que grupo cada empresa se enquadra, por meio de uma analise de faturamento , endividamento,  total de patrimônio liquido e maior atraso. Após feita essa análise ele será enquadrado em um dos três grupos

In [6]:
# Outras importações

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
from sklearn.preprocessing import LabelEncoder

In [7]:
# Definir critérios de classificação
def classificar_grupo(row):
    if row['faturamentoBruto'] > 1000000 and row['endividamento'] < 500000 and row['totalPatrimonioLiquido'] > 1000000 and row['maiorAtraso'] < 10:
        return 'Diamante'
    elif row['faturamentoBruto'] > 500000 and row['endividamento'] < 1000000 and row['totalPatrimonioLiquido'] > 500000 and row['maiorAtraso'] < 30:
        return 'Ouro'
    else:
        return 'Prata'

# Criar coluna de classificação
df['grupo'] = df.apply(classificar_grupo, axis=1)


# Tratar dados ausentes em X_train
X = df[['faturamentoBruto', 'endividamento', 'totalPatrimonioLiquido', 'maiorAtraso']]
X.fillna(X.mean(), inplace=True)  # Preencher valores ausentes com a média

# Codificar y_train usando LabelEncoder
le = LabelEncoder()
y = le.fit_transform(df['grupo'])

# Dividir dados em treino e teste
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Instanciar e treinar o modelo de classificação
model = RandomForestClassifier(random_state=42)
model.fit(X_train, y_train)

# Avaliar o modelo
y_pred = model.predict(X_test)
print(classification_report(y_test, y_pred))

<ipython-input-7-b0aa4047543c>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X.fillna(X.mean(), inplace=True)  # Preencher valores ausentes com a média

              precision    recall  f1-score   support

           0       1.00      1.00      1.00       181
           1       1.00      1.00      1.00       173
           2       1.00      1.00      1.00      1441

    accuracy                           1.00      1795
   macro avg       1.00      1.00      1.00      1795
weighted avg       1.00      1.00      1.00      1795

In [8]:
# Definir critérios de classificação (Opção 1)
def classificar_grupo_novo(row):
    if row['faturamentoBruto'] > 1000000 and row['endividamento'] < 500000 and row['totalPatrimonioLiquido'] > 1000000 and row['maiorAtraso'] < 10:
        return 'Diamante'
    elif row['faturamentoBruto'] > 500000 and row['endividamento'] < 1000000 and row['totalPatrimonioLiquido'] > 500000 and row['maiorAtraso'] < 30:
        return 'Ouro'
    else:
        return 'Prata'

In [9]:
# Exemplo de um novo cliente (Exemplo com informações pré-definidas)
novo_cliente = {
    'faturamentoBruto': 1500000,
    'endividamento': 300000,
    'totalPatrimonioLiquido': 2000000,
    'maiorAtraso': 5
}

# Classificar o novo cliente
grupo_cliente = classificar_grupo_novo(novo_cliente)

# Executando
grupo_cliente

'Diamante'

In [10]:
# Definir critérios de classificação (Opção 2)
def classificar_grupo_novo(faturamentoBruto, endividamento, totalPatrimonioLiquido, maiorAtraso):
    if faturamentoBruto > 1000000 and endividamento < 500000 and totalPatrimonioLiquido > 1000000 and maiorAtraso < 10:
        return 'Diamante'
    elif faturamentoBruto > 500000 and endividamento < 1000000 and totalPatrimonioLiquido > 500000 and maiorAtraso < 30:
        return 'Ouro'
    else:
        return 'Prata'

# Solicitar informações do usuário (Inserindo as informações manualmente)
print("Por favor, insira as informações do cliente:")
faturamento = float(input("Faturamento Bruto: "))
endividamento = float(input("Endividamento: "))
patrimonio = float(input("Total Patrimônio Líquido: "))
atraso = int(input("Maior Atraso (em dias): "))

# Classificar o novo cliente
grupo_cliente = classificar_grupo_novo(faturamento, endividamento, patrimonio, atraso)
print("Grupo do cliente baseado nas informações fornecidas:", grupo_cliente)

Por favor, insira as informações do cliente:
Faturamento Bruto: 10000
Endividamento: 1000
Total Patrimônio Líquido: 100000
Maior Atraso (em dias): 1
Grupo do cliente baseado nas informações fornecidas: Prata

# 3º Etapa: Robô Automatizado

In [ ]:
### Escrever o código aqui